{{ ansible_managed | comment }}

user                 nginx;

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
    multi_accept       on;
    worker_connections 65535;
}

http {
    # Logging
    access_log /var/log/nginx/access.log;
    error_log  /var/log/nginx/error.log warn;
    server {
        listen 8080;
        root /var/www/html/openshift;
    }
}
